*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-image: url(background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
h2{
    color: white;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 14px;  
    margin: 10px;
    font-size: 20px;
    text-shadow: 2px 2px 4px black;  
}
.clock{
    display: flex;
}
.clock div{
    margin: 5px;
    position: relative;
}
.clock span{
    width: 100px;
    height: 80px;
    background: rgba(76, 76, 235, 0.5);
    opacity: 0.8;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow: 2px 2px 4px black;
}
.clock .text{
    height: 30px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 3px;
    background: darkblue ;
    opacity: 0.8;
}
.clock #ampm{
    bottom: 0;
    position: absolute;
    width: 60px;
    height: 30px;
    font-size: 20px;
    background: green;
}